@import url('./page.css');

.navbar {
    background-color: #ff739a;
}

body {
    display: block;
    background-image: url('../assets/aboutbg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.infocontainer {
    background-color: rgba(255, 115, 154, 0.65);
}

#effectoption {
    background-image: url('../assets/sprites/cherry_blossom_2_sprite.png');
}

#listcontainer {
    display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
}

#listcontainer ul {
    max-width: 45%;
}