@import url('./page.css');

.navbar {
    background-color: #68cedd;
}

body {
    display: block;
    background-image: url('../assets/contactbg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.infocontainer {
    background-color: rgba(104, 206, 221, 0.65);
}

#effectoption {
    font-size: 55px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: skyblue;
}

#listcontainer {
    display: flex;
    justify-content: center;
}

#listcontainer ul {
    max-width: 45%;
}

.snow {
    color: skyblue;
}

#contactscontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

#contactscontainer a {
    max-width: 33%;
    display: block;
    text-align: center;
    z-index: 3;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

#contactscontainer img {
    display: block;
    height: 200px;
    background-repeat: no-repeat;
    z-index: 3;
    margin-bottom: 30px;
}

.hovermsg {
    display: none;
}
#contactscontainer img:hover .hovermsg {
    display: inline;
}