@keyframes fall {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.95;
    }
    100% {
        top: 100vh;
        opacity: 1;
    }
}
  
@keyframes sway {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 50px;
    }
    50% {
        margin-left: -50px;
    }
    75% {
        margin-left: 50px;
    }
    100% {
        margin-left: 0;
    }
}

.effectcontainer {
    overflow: hidden;
    transition: opacity 500ms;
    height: 50%;
    width: 50%;
    position: absolute;
}

.effectElement {
    position: absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fall ease-in infinite, sway ease-in-out infinite;
    -webkit-animation: fall ease-in infinite, sway ease-in-out infinite;
    -moz-animation: fall ease-in infinite, sway ease-in-out infinite;
    -o-animation: fall ease-in infinite, sway ease-in-out infinite;
}

.aLeaf, .sLeaf, .cBlossom {
    display: block;
    background-size: cover;
}