#loadwrapper {
    position: fixed;
    display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    background-color: navy;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: x-large;
    align-items: center;
}