@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('./effects.css');
@import url('./loadwrapper.css');

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.navbar {
    margin: 0;
    padding: 20px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Silkscreen', sans-serif;
    font-size: large;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar a {
    margin-right: 50px;
    color: white;
    text-decoration: none;
}

#textcontainer {
    display: flex;
    justify-content: center;
}

.infocontainer {
    display: flex;
    margin-top: 175px;
    height: 100%;
    width: 80%;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 13px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 175px;
}

.infocontainer h1 {
    font-size: 60px;
    text-decoration: underline;
}

.infocontainer p, .infocontainer ul li {
    font-size: 30px;
}

#effectoption {
    height: 50px;
    width: 50px;
    display: block;
    background-size: cover;
}

#effectoptioncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 10%;
    left: 93%;
    height: 60px;
    width: 60px;
    border-radius: 3px;
}