@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('CSS/index/quad1.css');
@import url('CSS/index/quad2.css');
@import url('CSS/index/quad3.css');
@import url('CSS/index/quad4.css');


@keyframes fall {
    0% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.95;
    }
    100% {
        top: 100vh;
        opacity: 1;
    }
}
  
@keyframes sway {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 50px;
    }
    50% {
        margin-left: -50px;
    }
    75% {
        margin-left: 50px;
    }
    100% {
        margin-left: 0;
    }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
}

.quadrant {
    width: 50%;
    height: 50%;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
    align-items: center; 
    justify-content: center;
}

.button {
    font-family: 'Silkscreen', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition-property: background-color, color, box-shadow;
    transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-duration: .4s, .4s;
    transition-timing-function: ease-in-out;
    padding-top: 6px;
    padding-left: 15px !important;
    padding-right: 12px !important;
    padding-bottom: 10px;
    border-radius: 4px;
    text-shadow: 0px 5.5px 3.5px rgba(0,0,0,0.25);
    z-index: 1;
}

.button:hover {
    box-shadow: 0px 5.5px 4.2px rgba(0,0,0,0.38);
}

.effectcontainer {
    overflow: hidden;
    transition: opacity 500ms;
    height: 50%;
    width: 50%;
    position: absolute;
}

.effectElement {
    position: absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: fall ease-in infinite, sway ease-in-out infinite;
}

#loadwrapper {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    background-color: navy;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: x-large;
    align-items: center;
}

.aLeaf, .sLeaf, .cBlossom {
    display: block;
    background-size: cover;
}