@import url('CSS/index/quad1.css');
@import url('CSS/index/quad2.css');
@import url('CSS/index/quad3.css');
@import url('CSS/index/quad4.css');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

.quadrant {
    width: 50%;
    height: 50%;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
    align-items: center; 
    justify-content: center;
}

.button {
    font-family: 'Silkscreen', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition-property: background-color, color, box-shadow;
    transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-duration: .4s, .4s;
    transition-timing-function: ease-in-out;
    padding-top: 6px;
    padding-left: 16.5px !important;
    padding-right: 16.5px !important;
    padding-bottom: 10px;
    border-radius: 2px;
    text-shadow: 0px 5.5px 3.5px rgba(0,0,0,0.25);
}

.button:hover {
    box-shadow: 0px 5.5px 4.2px rgba(0,0,0,0.38);

}