#quad1 {
    background-image: url('../../assets/quad1bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#quad1 span {
    background-image: url('../../assets/cherryblossmfeature.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    background-position: bottom right;
    display: block;
    width: 18%;
    height: 25%;
    position: absolute;
    left: 0;
    top: 0;
}

#quad1 .button {
    color: #ff739a;
}

#quad1 .button:hover {
    background-color: #ff739a;
    color: white;
}