#quad4 {
    background-image: url('../../assets/quad4bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    flex-wrap: nowrap;
}

#quad4 span {
    background-image: url('../../assets/snowflakes.png');
    background-repeat: no-repeat;
    background-position: top right;
    transform: rotate(180deg);
    background-size: cover;
    display: block;
    width: 37%;
    height: 25%;
    position: absolute;
    right: 0;
    bottom: 0;
}

#quad4 .button {
    color: #68cedd;
}

#quad4 .button:hover {
    background-color: #68cedd;
    color: white;
}

#snowcontainer {  
    overflow: hidden;
    transition: opacity 500ms;
    height: 50%;
    width: 50%;
    position: absolute;
}
  
.snow {
    animation: fall ease-in infinite, sway ease-in-out infinite;
    color: skyblue;
    position: absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}